<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-3 offset-xl-3>
      <ion-list>
        <ion-item>
          <ion-label>Connection</ion-label>
          <ion-select [(ngModel)]="serverPath">
            <ion-option value="http://time.asticus.com.my">Live Server</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Activate Connection</ion-label>
          <ion-toggle color="secondary" [(ngModel)]="activate" [checked]="activate" (ionChange)="login($event)"></ion-toggle>
        </ion-item>

      </ion-list>
      <ion-row *ngIf="!activate">
        <button ion-button full round color="secondary" (click)="login()" width-50>
      <ion-icon name="log-in"></ion-icon>&nbsp;&nbsp;Log In
    </button>
        <button ion-button full round color="primary" (click)="signup()" width-50>
      <ion-icon name="book"></ion-icon>&nbsp;&nbsp;Sign Up
    </button>
      </ion-row>
      <ion-row *ngIf="activate">
        <button ion-button full round color="danger" (click)="logout()" width-50>
      <ion-icon name="log-out"></ion-icon>&nbsp;&nbsp;Log Out
    </button>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>